<!DOCTYPE html>
<html>
<head>
</head>
<body>
Nombre: <input type="text" id="nombre">
<br>
<br>
Mensaje: <input type="text" id="mensaje">
<br>
<br>
<button onclick="sendMessage()">Enviar</button>
<br>
<br>
<div id="e" style="border:solid 1px black;"></div>
<script>
let socket = new WebSocket("ws://localhost:8080/chat");
socket.onmessage = function(event){
	document.getElementById("e").innerHTML = event.data
}

function sendMessage(){
	socket.send(document.getElementById("mensaje").value);
	document.getElementById("mensaje").value = "";
}
</script>
</body>
</html>